
Notebooks/.ipynb_checkpoints/GatesUsingPerceptron-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/TestNotebook-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/FromBasicPerceptronToTensorflow-checkpoint.ipynb
Notebooks/iris_test.csv
Notebooks/iris_training.csv
Notebooks/img/.DS_Store
Notebooks/.DS_Store
